body {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 100%;
  font-family: arial, san-serif;
  font-size: 14px;
  color: #222;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #222;
}

nav {
  display: flex;
  height: 100px;
}

#about, #store  {
  padding: 10px;
}

.nav-left {
  display: inline-flex;
  justify-content: flex-start;
}

.nav-right {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 1; 
  width: auto;
}

#gmail, #images  {
  padding: 10px;
}

.logo {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.google-logo {
  object-fit: contain;
  object-position: center-bottom;
}

#search-bar-wrapper{
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  border: solid 1px #dfe1e5;
  border-radius: 24px;
  padding: 5px 5px 5px 5px;
}

#search-bar {
  width: 500px;
  padding: 5px;
  height: 30px;
  border: none;
}

.search-buttons {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}

#google-search, #google-lucky {
  border: none;
  background-color: #f2f2f2 ;
  padding: 10px;
  font-size: 14px;
  color: #222;
}

footer {
  display: flex;
  width: auto;
  margin-top: 23%;
  height: 100%;
  color: rgba(0,0,0,.54);
}

.footer-wrapper {
  display: flex;
  width: auto;
  padding: 20px;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f2f2f2;
}

#location {
  display: inline-flex;
  margin-top: 0px;
}

.footer-links {
  padding: 10px;
  border-top: 1px solid #dadce0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-links-left {
  order: ;
}

.footer-links-right {
  order: 3;
}

.footer-links-mid {
  order: 2;
}

#advertising, #business, #how-search-works, 
#privacy, #terms, #settings  {
  margin: 0;
  padding: 10px;
  color: rgba(0,0,0,.54);
}