page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

navbar {
  display: flex;
}

#about, #store  {
  padding: 10px;
}

.nav-left {
  display: inline-flex;
  justify-content: flex-start;
}

.nav-right {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 1; 
  width: auto;
}

#gmail, #images  {
  padding: 10px;
}
.logo {
  position: absolute;
  align-self: center;
  top: 24%;
  left: 60%;
  margin-left: -25%;
  width: 500px;
}

#search-bar-wrapper{
  display: flex;
  position: relative;
  min-width: 100px;
  max-width: 500px;
  border: solid 1px #dfe1e5;
  border-radius: 24px;
  padding: 5px;
  margin-left: 26%;
  margin-top: 20%;
  align-items: space-between;
}

#search-bar {
    width: 500px;
    border: none;
}

